{% extends "layout.html" %}

{% block content %}

<div>
    <h2>Add your logistics service</h2>
    <form id="logisticsForm" action="/addlogistics" method="post" onsubmit="return validateForm()">
        <h4>Select service type</h4>
        
        <div class="service-option">
            <input type="radio" id="private" name="serviceType" value="private" onclick="toggleQuestions()">
            <label for="private" class="circle-label">Private Logistics Service</label>
        </div>

        <div class="service-option">
            <input type="radio" id="company" name="serviceType" value="company" onclick="toggleQuestions()">
            <label for="company" class="circle-label">Company</label>
        </div>

        <div id="privateQuestions" style="display: none;">
            <label for="fullName">Your full name:</label>
            <input type="text" id="fullName" name="fullName"><br>
        </div>

        <div id="companyQuestions" style="display: none;">
            <label for="companyName">Company name:</label>
            <input type="text" id="companyName" name="companyName"><br>
            <label for="businessId">Business ID:</label>
            <input type="text" id="businessId" name="businessId"><br>
        </div>

        <div id="allQuestions">
            <label for="address">Address:</label>
            <input type="text" id="address" name="address"><br>

            <h4>Add a vehicle:</h4>
            {% for category in vehicle_categories %}
            <div class="vehicle-option">
                <input type="radio" id="{{ category }}" name="vehicleCategory" value="{{ category }}" onchange="toggleTextBox('{{ category }}')">
                <label for="{{ category }}">{{ category }}</label>
                <div id="{{ category }}-maxWeight" style="display: none;">
                    <label for="{{ category }}-weight">Maximum cargo (in tons)</label>
                    <input type="text" id="{{ category }}-weight" name="weight">
                </div>
            </div>
            {% endfor %}

            <h4>Price per hour estimate</h4>
            <input type="text" id="price" name="price">€/h
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

<script>
    function toggleTextBox(category) {
        var maxWeightDiv = document.getElementById(category + '-maxWeight');

        var allDivs = document.querySelectorAll('.vehicle-option div');
        allDivs.forEach(function(div) {
            div.style.display = 'none';
        });

        if (maxWeightDiv.style.display === 'none') {
            maxWeightDiv.style.display = 'block';
        }
    }

    function toggleQuestions() {
        var serviceType = document.querySelector('input[name="serviceType"]:checked').value;
        var privateQuestions = document.getElementById("privateQuestions");
        var companyQuestions = document.getElementById("companyQuestions");

        if (serviceType === "private") {
            privateQuestions.style.display = "block";
            companyQuestions.style.display = "none";
        } else if (serviceType === "company") {
            privateQuestions.style.display = "none";
            companyQuestions.style.display = "block";
        }
    }

    function validateForm() {
        var serviceType = document.querySelector('input[name="serviceType"]:checked');
        var fullName = document.getElementById("fullName");
        var companyName = document.getElementById("companyName");
        var businessId = document.getElementById("businessId");
        var address = document.getElementById("address");

        if (!serviceType || !fullName || !companyName || !businessId || !address) {
            alert("Please fill in all required fields.");
            return false;
        }

        return true;
    }
</script>

{% endblock %}