{% extends "layout.html" %}

{% block content %}
<div>
    <form action="/distance" method="POST">
        <p>
            Toimitusosoite: <br>
            <input type="text" name="address" minlength="1" maxlength="200">
            <input type="submit" value="Calculate distance">
        </p>

        <!-- <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> -->
    </form>
</div>



{% for listing in listings %}

<div class="card">
    <h2>{{ listing.name }}</h2>
    <p>Price: {{ listing.price }} €</p>
    <p>{{ listing.location}}</p>
    <p>Distance: {{ listing.distance}} km</p>
</div>

{% endfor %}

{% endblock %}