{% extends "layout.html" %}

{% block content %}
<div>
    <form action="/listing/{{listing_id}}" method="POST">
        <p>
            Toimitusosoite: <br>
            <input type="text" name="address" minlength="1" maxlength="200">
            <input type="submit" value="Calculate distance">
        </p>

        <!-- <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> -->
    </form>
</div>
<div>
    <h2>{{listing.name}}</h2>
    <p>{{listing.address}} ({{listing.longitude}}, {{listing.latitude}})</p>
    <p>{{listing.description}}</p>
    <p>{{listing.price}} €</p>
</div>

{% if show_route %}
<div>
    <h3>Route to {{user_location}}</h3>
    <p>Distance: {{distance}} km</p>
    <p>Duration: {{duration}}</p>
</div>

<!-- Include Leaflet JavaScript and CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<!-- Add a container for the map -->
<div id="map" style="height: 400px;"></div>

<!-- Your custom JavaScript to initialize the map and routing -->
<script>
    var map = L.map('map').setView([0, 0], 2);
    var route_geojson = JSON.parse('{{ route_geojson }}'.replaceAll('&#34;', '"'));

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // Adds geojson route to map
    L.geoJSON(route_geojson).addTo(map);

    var bbox = route_geojson["features"][0]["bbox"];
    var southWest = L.latLng(bbox[1], bbox[0]),
        northEast = L.latLng(bbox[3], bbox[2]),
        bounds = L.latLngBounds(southWest, northEast);

    map.fitBounds(bounds);

</script>

{% endif %}

<!--we need to list here the delivery companies-->
<div>
    <h2>Delivery companies</h2>
    <ul>
        {% for company in companies %}
        <li>{{company.name}}: {{company.price}} €</li>
        {% endfor %}
    </ul>
</div>


{% endblock %}