{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Add Logistics</title>
    <style>
        .material-box {
            position: relative; /* Required for positioning */
            border: 1px solid #ccc;
            padding: 10px;
            margin: 5px; /* Adjust margin for spacing between boxes */
            cursor: pointer; /* Change cursor to pointer on hover */
            width: calc(33.3333% - 10px); /* Adjust width to fit multiple boxes next to each other */
            box-sizing: border-box; /* Include padding and border in box width calculation */
            float: left; /* Float the boxes to make them align horizontally */
        }

        .material-box.selected {
            background-color: #007bff; /* Change background color when selected */
            color: #fff; /* Text color for unselected boxes */
        }

        .material-box:hover {
            background-color: #f0f0f0; /* Change background color on hover */
        }

        .material-box.selected:hover {
            background-color: #007bff; /* Keep selected background color on hover */
        }

        .material-box input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            pointer-events: none; /* Prevent interaction with hidden checkbox */
        }
    </style>
</head>

<body>
    <h3>Add a logistics service</h3>
    <form class="" method="post" novalidate="" autocomplete="off">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h5>Select service type*</h5>
        <div class="service-option">
            <input type="radio" id="private" name="serviceType" value="private" onclick="toggleQuestions()">
            <label for="private" class="circle-label">Private contractor</label><br>
            <input type="radio" id="company" name="serviceType" value="company" onclick="toggleQuestions()">
            <label for="company" class="circle-label">Company</label>
        </div>

        <div id="privateQuestions" style="display: none;">
            <label for="fullName">Your full name*</label>
            <input type="text" id="fullName" name="fullName"><br>
        </div>

        <div id="companyQuestions" style="display: none;">
            <label for="companyName">Company name*</label>
            <input type="text" id="companyName" name="companyName"><br>
            <label for="businessId">Business ID*</label>
            <input type="text" id="businessId" name="businessId"> <br>
        </div>
        <br>
        <div id="allQuestions">
            <h4>Add location</h4>
                <label for="address">Address*</label>
                <input type="text" id="address" name="address" required><br>
                <label for="postcode">Postal code*</label>
                <input type="text" id="postcode" name="postcode" required><br>
                <label for="city">City*</label>
                <input type="text" id="city" name="city" required><br>
                <br>
                <label for="telephone">Phone number</label>
                <input type="text" id="telephone" name="telephone"><br>

                <label for="email">Email address</label>
                <input type="text" id="email" name="email"><br>
                <br>
                Description <textarea class="description" name="description"></textarea><br>
                <br>
                <h5>How far are you able to deliver*</h5>
                <div class="radius-option">
                    <input type="radio" name="radiusType" value="no-limit" onclick="toggleRadius()">
                    <label for="no-limit" class="circle-label">No limit</label><br>
                    <input type="radio" name="radiusType" value="custom-limit" onclick="toggleRadius()">
                    <label for="custom-limit" class="circle-label">Custom limit</label>
                </div>         
                <div id="customDistance" style="display: none;">
                    <label for="radiusType">Maximum distance</label>
                    <input type="text" id="radius" name="radius"> kilometers<br>
                </div>
                <br>
                <h5>Select materials you can deliver</h5>
                <div id="materials-container">
                    {% for material in material_categories %}
                        <div class="material-box" onclick="toggleMaterial(this)">
                            <input type="checkbox" class="hidden-checkbox" name="materials[]" value="{{ material }}">
                            <label for="{{ material }}">{{ material }}</label>
                            <button class="show-fields" type="button" data-target="{{ material }}">Edit</button>
                        
                        <div id="fields-{{ material }}" style="display: none" class="card">
                            Description <br>
                            <textarea class="description" name="{{ material }}-description"></textarea><br>
                            <label for="can_process" style="align-self: center;">Can Process</label>
                            <label class="switch">
                                <input type="checkbox" name="{{ material }}-can_process">
                                <span class="slider"></span>
                            </label>

                            <label for="base_rate">Base rate</label>
                            <input type="text" class="base-rate" name="{{ material }}-base_rate"> €<br> 
                            <label for="price_per_hour">Price per hour</label>
                            <input type="text" class="price-per-hour" name="{{ material }}-price_per_hour"> €<br>
                            <label for="max_capacity">Maximum capacity</label>
                            <input type="text" class="max-capacity" name="{{ material }}-max_capacity">
                            <select id="unitDropdown">
                                {% for unit in units %}
                                    <option value="{{ unit }}" name="{{ material }}-unit">{{ unit }}</option>
                                {% endfor %}
                            </select>
                            <h6>Delivery distance*</h6>
                            <div class="radius-option-{{ material }}">
                                <input type="radio" name="radiusType-{{ material }}" value="no-limit-{{ material }}" checked="checked" onclick="toggleMaterialradius('{{ material }}')">            
                                <label for="no-limit-{{ material }}" class="circle-label">Same as above</label><br>
                                <input type="radio" name="radiusType-{{ material }}" value="custom-limit-{{ material }}" onclick="toggleMaterialradius('{{ material }}')">
                                <label for="custom-limit-{{ material }}" class="circle-label">Custom limit</label>
                            </div>       
                            <div id="customDistance-{{ material }}" style="display: none;">
                                <label for="radius-{{ material }}">Maximum distance:</label>
                                <input type="text" id="radius-{{ material }}" name="{{ material }}-radius"> kilometers<br>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                </div>
              
        </div>
        <br>                        
        <br>
        <input type="submit" value="Submit">
    </form>

    <script>
        function toggleMaterial(box) {
            var checkbox = box.querySelector('input[type="checkbox"]');
            checkbox.checked = !checkbox.checked;
            box.classList.toggle('selected');
        }

        document.addEventListener('DOMContentLoaded', function () {
            var toggleButtons = document.querySelectorAll('.show-fields');

            toggleButtons.forEach(function (button) {
                button.addEventListener('click', function (event) {
                    event.stopPropagation();
                    var material = button.getAttribute('data-target');
                    var additionalFields = document.getElementById('fields-' + material);

                    if (additionalFields.style.display === 'none' || additionalFields.style.display === '') {
                        additionalFields.style.display = 'block';
                        button.innerText = 'Close';
                    } else {
                        additionalFields.style.display = 'none';
                        button.innerText = 'Edit';
                    }
                });
            });
            var cards = document.querySelectorAll('.card');
            cards.forEach(function (card) {
                card.addEventListener('click', function (event) {
                    event.stopPropagation();
                });
            });
        });

        function toggleQuestions() {
            var serviceType = document.querySelector('input[name="serviceType"]:checked').value;
            var privateQuestions = document.getElementById("privateQuestions");
            var companyQuestions = document.getElementById("companyQuestions");

            if (serviceType === "private") {
                privateQuestions.style.display = "block";
                companyQuestions.style.display = "none";
            } else if (serviceType === "company") {
                privateQuestions.style.display = "none";
                companyQuestions.style.display = "block";
            }
        }

        function toggleMaterialradius(material) {
            var radiusType = document.querySelector('input[name="radiusType-' + material + '"]:checked').value;
            var customDistance = document.getElementById("customDistance-" + material);

            if (radiusType === "no-limit-" + material) {
                customDistance.style.display = "none";
            } else {
                customDistance.style.display = "block";
            }
        }

        function toggleRadius() {
            var radiusType = document.querySelector('input[name="radiusType"]:checked').value;
            var customDistance = document.getElementById("customDistance");

            if (radiusType === "no-limit") {
                customDistance.style.display = "none";
            } else {
                customDistance.style.display = "block";
            }
        }
     
    </script>

</body>
</html>
{% endblock %}