{% extends "layout.html" %}

{% block head %}
<title>{{ _("add_logistics_title") }}</title>
<style>
    #materials-container {
        border: 3px solid #ccc;
        padding: 20px;
        margin-top: 20px;
        width: 70%;
        margin: 0 auto;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .column {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        width: 30%;
        max-height: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .column::-webkit-scrollbar * {
        display: none;
    }

    .material-box {
        border: 2px solid #ccc;
        padding: 20px;
        margin-right: 10px;
        cursor: pointer;
        width: calc(100%);
        box-sizing: border-box;
        outline: 4px solid transparent;
        font-size: 2vh;
    }

    .material-title {
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-wrap: break-word;
        margin-right: 10px;
        justify-content: center;
    }

    .material-box.selected {
        background-color: #eeeeee;
        outline-color: #4CAF50;
    }

    .material-box:hover {
        background-color: #d1d0d0;

    }

    .material-box input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    .service-option,
    .radius-option {
        display: flex;
    }

    .service-option input[type="radio"],
    .radius-option input[type="radio"],
    .material-box input[type="radio"] {
        transform: scale(1.75);
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .service-option label,
    .radius-option label {
        margin-right: 20px;
        font-size: 18px;
    }

    .form-section {
        border: 3px solid #ccc;
        padding: 20px;
        width: 70%;
        margin: 0 auto;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    .small-text input[type="text"] {
        width: 20%;
        padding: 2px;
        box-sizing: border-box;
    }

    #allQuestions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .address-fields,
    .contact-fields {
        width: 30%;
    }

    .description-field textarea {
        width: 90%;
        height: 150px;
    }

    .description-field {
        width: 40%;
    }

    .description-field2 {
        margin-top: 20px;
    }

    .address-fields label,
    .contact-fields label,
    .description-field label,
    .description-field2 label {
        display: block;
        margin-bottom: 5px;
    }


    .address-fields input,
    .contact-fields input {
        width: 90%;
        margin-bottom: 10px;
        padding: 8px;
        box-sizing: border-box;
    }

    h3 {
        text-align: center; 
        margin-bottom: 50px;
    }

    .custom-submit-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
    }

    .custom-submit-button:hover {
        background-color: #45a049; 
    }

    .custom-submit-button-container {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .card {
        font-size: 17px;
    }
</style>
{% endblock %}


{% block content %}
<h3>{{ _("add_logistics_title") }}</h3>
<form class="" method="post" autocomplete="off">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-section">
    <h4>{{ _("select_service_type") }}</h4>
    <div class="service-option">
        <input type="radio" id="private" name="serviceType" value="private" onclick="toggleQuestions()">
        <label for="private" class="circle-label">{{ _("private_contractor") }}</label><br>
        <input type="radio" id="company" name="serviceType" value="company" onclick="toggleQuestions()">
        <label for="company" class="circle-label">{{ _("company") }}</label>
    </div>

    <div id="privateQuestions" style="display: none;" class="small-text">
        <label for="fullName">{{ _("full_name") }}</label>
        <input type="text" id="fullName" name="fullName"><br>
    </div>

    <div id="companyQuestions" style="display: none;" class="small-text">
        <label for="companyName">{{ _("company_name") }}</label>
        <input type="text" id="companyName" name="companyName"><br>
        <label for="businessId">{{ _("business_id") }}</label>
        <input type="text" id="businessId" name="businessId"> <br>
    </div>
    <br>
    <h4>{{ _("add_location") }}</h4>
    <div id="allQuestions">
        <div class="address-fields">
            <label for="address">{{ _("address") }}</label>
            <input type="text" id="address" name="address" required>
            <label for="postcode">{{ _("postal_code") }}</label>
            <input type="text" id="postcode" name="postcode" required>
            <label for="city">{{ _("city") }}</label>
            <input type="text" id="city" name="city" required>
        </div>
        <div class="contact-fields">
            <label for="telephone">{{ _("phone_number") }}</label>
            <input type="text" id="telephone" name="telephone">
            <label for="email">{{ _("email") }}</label>
            <input type="text" id="email" name="email">
        </div>
        <div class="description-field">
            <label for="description">{{ _("description") }}</label><br>
            <textarea id="description" name="description" placeholder="{{ _('description_placeholder') }}"></textarea>
        </div>
    </div>

        <h4>{{ _("how_far_can_you_deliver") }}</h4>
        <div class="radius-option">
            <input type="radio" name="radiusType" value="no-limit" onclick="toggleRadius()">
            <label for="no-limit" class="circle-label">{{ _("no_limit") }}</label>
            <input type="radio" name="radiusType" value="custom-limit" onclick="toggleRadius()">
            <label for="custom-limit" class="circle-label">{{ _("custom_limit") }}</label>
        </div>         
        <div id="customDistance" style="display: none;" class="small-text">
            <label for="radiusType">{{ _("maximum_distance") }}</label>
            <input type="text" id="radius" name="radius"> {{ _("kilometers") }}
        </div>
        <div class="eco-capabilities">
            <h4>{{ _("select_eco_types") }}</h4>
            {% for category in eco_categories %}
                <label class="switch">
                    <input type="checkbox" name="eco_types[]" value="{{ category }}">
                    <span class="slider"></span>
                </label>
                {{ _(category) }}
            {% endfor %}
        </div>
    </div>
    <h3>{{ _("select_materials") }}</h3>
    <div id="materials-container">
        <div id="column1" class="column">
        </div>
        <div id="column2" class="column">
        </div>
        <div id="column3" class="column">
        </div>
    </div>

    {% for material in material_categories %}
    <div class="material-box" id="{{ material }}-model" style="display: none">
    <div class="material-title">
        <input type="checkbox" class="hidden-checkbox" name="materials[]" value="{{ material }}" id="aa">
        <h5>{{ _(material) }}</h5>
        <button class="show-fields" type="button" data-target="{{ material }}">{{ _("additional_information") }}</button>
    </div>

    <div id="fields-{{ material }}" style="display: none" class="card">
        <label for="can_process" style="align-self: center;">{{ _("can_spread") }}</label>
        <label class="switch">
            <input type="checkbox" name="{{ material }}-can_process">
            <span class="slider"></span>
        </label><br>

        <label for="base_rate">{{ _("base_rate") }}</label>
        <input type="text" class="base-rate" name="{{ material }}-base_rate"> €<br>
        <label for="price_per_hour">{{ _("price_per_hour") }}</label>
        <input type="text" class="price-per-hour" name="{{ material }}-price_per_hour"> €<br>
        <label for="max_capacity">{{ _("maximum_capacity") }}</label>
        <input type="text" class="max-capacity" name="{{ material }}-max_capacity">
        <select id="unitDropdown">
            {% for unit in units %}
                <option value="{{ unit }}" name="{{ material }}-unit">{{ _(unit) }}</option>
            {% endfor %}
        </select><br>
        <h4>{{ _("delivery_distance") }}</h4>
        <div class="radius-option-{{ material }}">
            <input type="radio" name="radiusType-{{ material }}" value="no-limit-{{ material }}" checked="checked" onclick="toggleMaterialradius('{{ material }}')">            
            <label for="no-limit-{{ material }}" class="circle-label">{{ _("same_as_above") }}</label>
            <input type="radio" name="radiusType-{{ material }}" value="custom-limit-{{ material }}" onclick="toggleMaterialradius('{{ material }}')">
            <label for="custom-limit-{{ material }}" class="circle-label">{{ _("custom_limit") }}</label>
        </div>       
        <div id="customDistance-{{ material }}" style="display: none;">
            <label for="radius-{{ material }}">{{ _("maximum_distance") }}</label>
            <input type="text" id="radius-{{ material }}" name="radius-{{ material }}"> {{ _("kilometers") }}
        </div>
        <div class="description-field2">
            <textarea class="description" name="{{ material }}-description" placeholder="{{ _('material_delivery_description_placeholder') }}" style="width: 250px; height: 150px;"></textarea>
        </div>
    </div>
    </div>
    {% endfor %}

    <div class="custom-submit-button-container">
        <button type="submit" class="custom-submit-button">{{ _("add_logistics_submit") }}</button>
    </div>
</form>

<script>
        var materialDiv = document.getElementById('material-container');
        var column1 = document.getElementById('column1')
        var column2 = document.getElementById('column2')
        var column3 = document.getElementById('column3')
        var index = 1
        var materials = JSON.parse('{{ material_categories | tojson | safe }}')
        console.log(materials)
        for (const material of materials) {
            var materialElement = document.getElementById(material + '-model').cloneNode(true)
            console.log(material)
            materialElement.classList.add("material-box")
            materialElement.id = material
            materialElement.style.display = 'block';

                if (index === 1) {
                    column1.appendChild(materialElement);
                }
                if (index === 2) {
                    column2.appendChild(materialElement);
                }
                if (index === 3) {
                    column3.appendChild(materialElement);
                }
                index = (index === 3 ? 1: index + 1)
                
                materialElement.addEventListener('click', (e) => {
                    var target = e.target.closest('.material-box')
                    if (target.classList.contains('selected')) {
                        target.classList.remove('selected')
                    } else {
                        target.classList.add('selected')
                    }
                    console.log(target.className)
                })
        }

    function toggleMaterial(material) {
        console.log(material)
        var element = document.querySelector("#" + material);
        var checkbox = element.querySelector("#aa");
        checkbox.checked = !checkbox.checked;
        element.classList.toggle('selected');
        console.log(element.className)
    }

    document.addEventListener('DOMContentLoaded', function () {
        var toggleButtons = document.querySelectorAll('.show-fields');

        toggleButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.stopPropagation();
                var material = button.getAttribute('data-target');
                console.log(material)
                var additionalFields = document.getElementById('fields-' + material);

                if (additionalFields.style.display === 'none' || additionalFields.style.display === '') {
                    additionalFields.style.display = 'block';
                    button.innerText = "{{ _('close') }}";
                } else {
                    additionalFields.style.display = 'none';
                    button.innerText = "{{ _('additional_information') }}";
                }
            });
        });
        var cards = document.querySelectorAll('.card');
        cards.forEach(function (card) {
            card.addEventListener('click', function (event) {
                event.stopPropagation();
            });
        });
    });

    function toggleQuestions() {
        var serviceType = document.querySelector('input[name="serviceType"]:checked').value;
        var privateQuestions = document.getElementById("privateQuestions");
        var companyQuestions = document.getElementById("companyQuestions");

        if (serviceType === "private") {
            privateQuestions.style.display = "block";
            companyQuestions.style.display = "none";
        } else if (serviceType === "company") {
            privateQuestions.style.display = "none";
            companyQuestions.style.display = "block";
        }
    }

    function toggleMaterialradius(material) {
        var radiusType = document.querySelector('input[name="radiusType-' + material + '"]:checked').value;
        var customDistance = document.getElementById("customDistance-" + material);

        if (radiusType === "no-limit-" + material) {
            customDistance.style.display = "none";
        } else {
            customDistance.style.display = "block";
        }
    }

    function toggleRadius() {
        var radiusType = document.querySelector('input[name="radiusType"]:checked').value;
        var customDistance = document.getElementById("customDistance");

        if (radiusType === "no-limit") {
            customDistance.style.display = "none";
        } else {
            customDistance.style.display = "block";
        }
    }
    
</script>
{% endblock %}