{% extends "layout.html" %}

{% block content %}


<div class = "card" style="  display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
    
    <div  style="background-color: #f1f1f1; padding: 20px; font-size: 18px; height: 65vh;">    

        <div>
            <h2 style="align-self: center;">Suositellut kuljetuspalvelut</h2>
            <input type="checkbox" id="selectAll">
            <label for="selectAll">Näytä kaikki</label>
        </div>

        <div id="list_div" style ="overflow: auto;border: 1px solid #ccc; overflow-y: scroll; height: 80%;">
            
            <script>

                hidden_elements = []

                function addElement(feature, hide){
                    var listElement = document.createElement('button');
                    listElement.classList.add('clickable_list_element')
                    listElement.innerHTML = '<strong>' + feature.properties.name + '</strong><br>' + feature.properties.address;

                    var info = document.createElement('div');
                    info.style.display = 'none';
                    info.classList.add('card');
                    info.innerHTML = '<div><br>Palveluinfo</br></div>'

                    listElement.appendChild(info)
                    document.currentScript.parentNode.appendChild(listElement);

                    if (hide) {
                        listElement.style.display = 'none';
                        hidden_elements.add(listElement);
                    }
                    listElement.addEventListener('click', function() {
                        var info = listElement.querySelector('div');
                        if (info.style.display === 'none') {
                            info.style.display = 'block';
                            listElement.scrollIntoView({ behavior: 'smooth', block: 'end' });
                        } else {
                            info.style.display = 'none';
                        }
                    });
                }

                var in_range_gjson = JSON.parse('{{ in_range | tojson | safe }}');
                var out_range_gjson = JSON.parse('{{ out_range | tojson | safe }}');
                
                in_range_gjson.features.forEach(feature => addElement(feature, false));
                out_range_gjson.features.forEach(feature => addElement(feature, true));

            </script>
        </div>
        
    </div>

    <div name="map_div" style="background-color: #f1f1f1; padding: 20px; font-size: 18px;">
        <div>
            <!-- Include Leaflet JavaScript and CSS -->
            <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
            <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        </div>

        <!-- Add a container for the map -->
        <div id="map" style="height: 800px;"></div>

        <!-- Setup leaflet  -->
        <script>
            console.log("Setting up")

            // Set coordinates to match viewers
            var map = L.map('map', {zoomSnap: 0.05, zoomDelta: 0.25}).setView(['{{ lat }}','{{ lon }}'], 10); 

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);

            var redIcon = new L.Icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            var out_range_style = {
                "color": "#ff7800",
                "opacity": 0.5
            }
            //Show location of source
            var source = L.marker(['{{ lat }}','{{ lon }}'], {icon: redIcon}).addTo(map);
            source.bindPopup('<b>' + '{{ content }}' + '</b><br>' + '{{ address }}').openPopup();

            //Define popups
            function onEachFeature(feature, layer) {
                if (feature.properties && feature.properties.name && feature.properties.address) {
                    layer.bindPopup('<b>' + feature.properties.name + '</b><br>' + feature.properties.address);
                }
            }

            // Add contractor locations (database)
            in_gjson = L.geoJSON(in_range_gjson, {onEachFeature: onEachFeature});
            out_gjson = L.geoJSON(out_range_gjson, {onEachFeature: onEachFeature});

            var combinedBounds = in_gjson.getBounds().pad(0.1).extend(out_gjson.getBounds().pad(0.1));

            in_gjson.addTo(map);
            map.flyToBounds(in_gjson.getBounds().pad(0.1));

            L.control.scale().addTo(map);

            const selectAll = document.getElementById('selectAll');
            selectAll.addEventListener("change", function(){
                if (this.checked) {
                    out_gjson.addTo(map)
                    map.flyToBounds(combinedBounds);
                }
                else {
                    map.removeLayer(out_gjson);
                    map.flyToBounds(in_gjson.getBounds().pad(0.1));
                }
            });
        </script>
    </div>
</div>

{% endblock %}