<!-- This view is divided into two vertical blocks -->
<div class="card" style="height: 80vh;">
    <!-- style="  display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;"-->
    <!-- Block1: list view -->
    <div style="display: flex;">
        <div style="display: flex; align-items: center;">
            <input type="checkbox" id="selectAll">
            <label for="selectAll">Näytä kaikki</label>
        </div>
        <div style="display: flex; align-items: center; margin-left: auto;">
            <span>Shown companies:</span><p id="company_count">100</p>
        </div>
    </div>
    <div style="background-color: #f1f1f1; padding: 10px; font-size: 18px;  width: 60vh; float: left;">

        <div id="list_div" style="overflow: auto;border: 1px solid #ccc; overflow-y: scroll; height: 800px;">
        </div>

    </div>

    <!-- Block 2: map -->
    <div name="map_div" style="background-color: #f1f1f1; padding: 20px; font-size: 18px;">
        <div>
            <!-- Include Leaflet JavaScript and CSS -->
            <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
            <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        </div>

        <!-- Add a container for the map -->
        <div id="map" style="height: 800px;"></div>

        <style>
            img.huechange1 {
                filter: hue-rotate(-120deg);
            }

            img.huechange2 {
                filter: hue-rotate(120deg);
            }
        </style>

        <!-- Leaflet + code -->
        <script>

            var padding = 0.1;
            var hidden_elements = [];
            var in_range_gjson = JSON.parse('{{ in_range | tojson | safe }}');
            var out_range_gjson = JSON.parse('{{ out_range | tojson | safe }}');
            var address_to_marker = {};
            var listElement_to_coord = {};
            var marker_to_listElement = {};
            var last_open = null;
            var default_bounds = [[40.712, -74.227],[40.774, -74.125]]
            const companyCount = document.getElementById("company_count")

            // Icons
            var greenTruck = new L.Icon({
                iconUrl: '/static/images/ok_truck.png',
                shadowUrl: '/static/images/point.png',
                iconSize: [25, 25],
                iconAnchor: [8,25],
                popupAnchor: [1, -34],
                shadowSize: [10, 10],
                shadowAnchor: [0,0]
            });

            var greyTruck = new L.Icon({
                iconUrl: '/static/images/bad_truck.png',
                shadowUrl: '/static/images/point.png',
                iconSize: [25, 25],
                iconAnchor: [8,25],
                popupAnchor: [1, -34],
                shadowSize: [10, 10],
                shadowAnchor: [0,0]
            });

            // Create map
            var map = L.map('map').setView(['{{ listing.location.latitude }}', '{{ listing.location.longitude }}'], 10);

            // Add tiles
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);

            // Add marker to product location
            var product = L.marker(['{{ listing.location.latitude }}', '{{ listing.location.longitude }}']).addTo(map);
            product._icon.classList.add('huechange1');
            product.bindPopup("{{ listing.category.value }}\n{{ listing.address }}");

            // Add scale
            L.control.scale().addTo(map);

            // Visual representation of the route
            if ('{{show_route}}') {
                // Add route on map
                var route_geojson = JSON.parse('{{ route_geojson }}'.replaceAll('&#34;', '"'));
                L.geoJSON(route_geojson).addTo(map);
                // Add destination on map                
                var destination = route_geojson["features"][0]["geometry"]["coordinates"].pop().reverse();
                var destinationMarker = L.marker(destination).addTo(map);
                destinationMarker._icon.classList.add('huechange2');
                destinationMarker.bindPopup("Destination");
                // Calculate route bounds on map
                var bbox = route_geojson["features"][0]["bbox"];
                var southWest = L.latLng(bbox[1], bbox[0]),
                    northEast = L.latLng(bbox[3], bbox[2]),
                    route_bounds = L.latLngBounds(southWest, northEast);
            }

            // Marker creation for optimal contractors
            function create_marker(feature, latlng) {
                var marker = L.marker(latlng, { icon: greenTruck });
                address_to_marker[feature.properties.address] = marker;
                return marker;
            }
            // Marker creation for suboptimal contractors
            function create_badmarker(feature, latlng) {
                var marker = L.marker(latlng, { icon: greyTruck });
                address_to_marker[feature.properties.address] = marker;
                return marker;
            }
            //Define popups for contractor markers
            function onEachFeature(feature, layer) {
                if (feature.properties && feature.properties.name && feature.properties.address) {
                    layer.bindPopup('<b>' + feature.properties.name + '</b><br>' + feature.properties.address);
                }
            }

            // Two sets of gjson for optimal and suboptimal. Set popups and icons.
            in_gjson = L.geoJSON(in_range_gjson, { onEachFeature: onEachFeature, pointToLayer: create_marker });
            out_gjson = L.geoJSON(out_range_gjson, { onEachFeature: onEachFeature, pointToLayer: create_badmarker });
            combined_bounds = L.latLngBounds(in_gjson, out_gjson);

            // Checkbox 'Show all' functionality
            const selectAll = document.getElementById('selectAll');
            var mapFit = selectAll.addEventListener("change", function () {
                if (this.checked) {
                    out_gjson.addTo(map)
                    map.flyToBounds(route_bounds, combined_bounds);
                    hidden_elements.forEach(element => { element.style.display = 'block' })
                    companyCount.textContent = in_range_gjson.features.length + out_range_gjson.features.length
                }
                else {
                    map.removeLayer(out_gjson);
                    map.flyToBounds(in_gjson, route_bounds);
                    hidden_elements.forEach(element => { element.style.display = 'none' })
                    companyCount.textContent = in_range_gjson.features.length
                }
            });

            // Create elements to show on the list side ====================================================================
            function addElement(feature, hide) {
                // Create new button as list element
                var listElement = document.createElement('button');
                listElement.id = feature.properties.address
                listElement.classList.add('clickable_list_element')
                listElement.innerHTML = '<strong>' + feature.properties.name + '</strong><br>' + feature.properties.address;
                // Create inner HTML for the button
                var info = document.createElement('div');
                info.style.display = 'none';
                info.classList.add('card');
                info.innerHTML = '<div><br>Palveluinfo</br></div>'
                listElement.appendChild(info)
                document.getElementById('list_div').appendChild(listElement);
                // Bind list element to corresponding marker on the map
                listElement_to_coord[listElement.id] = [feature.geometry.coordinates[1], feature.geometry.coordinates[0]];
                // Define style of list element if it's set out to be 'hidden'
                if (hide) {
                    listElement.style.display = 'none';
                    listElement.style.backgroundColor = 'red';
                    hidden_elements.push(listElement);
                }
                // Functionality for clicking this list element
                listElement.addEventListener('click', function () {
                    // Make sure that target is the list element it self (button)
                    if (event.target.tagName === 'BUTTON') {
                        var button = event.target;
                    } else {
                        var button = event.target.closest('button');
                    }
                    // Find the info HTML inside the button
                    var info = button.querySelector('div');
                    
                    // By clicking the list element, switch between style 'block' (show) 'none' (hidden)
                    if (info.style.display === 'none') {
                        info.style.display = 'block';
                        if (last_open != null) {
                            // Hide previosly opened list element
                            last_open.style.display = 'none'
                        }
                        last_open = info;
                        listElement.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });
                        // By clicking the list element, map focuses on the corresponding marker...
                        map.flyTo(listElement_to_coord[button.id],9);
                        // ...and opens the popup
                        address_to_marker[button.id].openPopup();
                    } else {
                        info.style.display = 'none';
                        last_open = null;
                        map.flyToBounds(route_bounds, in_gjson);
                    }
                });
            } // ==============================================================================================

            // Add list elements on the list side
            in_range_gjson.features.forEach(feature => addElement(feature, false));
            out_range_gjson.features.forEach(feature => addElement(feature, true));

            // By default, show optimal contractors on map
            in_gjson.addTo(map);

            // Default setup 
            companyCount.textContent = in_range_gjson.features.length
            map.flyToBounds(route_bounds.extend(in_gjson.getBounds()));

        </script>
    </div>
</div>