{% extends "layout.html" %}

{% block content %}

<div>
    <h2>{{ contractor.name }}</h2>

    {% if contractor.business_id %}
    Business ID: {{ contractor.business_id }}
    {% else %}
    Private contractor
    {% endif %}
    
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h3>Locations</h3>
{% for location in locations %}

    <div class="card">
        <h3>{{ location[0].address }}</h3>
        Delivery radius (km): {% if location[0].delivery_radius == -1 %} No limit {% else %} {{ location[0].delivery_radius }} {% endif %}

        <p><h4>Material types you can deliver:</h4></p>
        {% for sidestream in location[1] %}
    
            <pre>{{ sidestream.type.value }}   Price (€/km): {{ sidestream.price_per_km }}    Base rate: {{ sidestream.base_rate }}€    Maximum capacity: {{ sidestream.max_capacity }}{{ sidestream.unit.value }}    Maximum delivery distance: {{ sidestream.max_distance }}km  Can process: {{ sidestream.can_process }}   Description: {{ sidestream.description }}</pre>
            <form action="/contractor/cargo/remove" method="POST">
                <input type="hidden" name="cargo_id" value="{{ sidestream.id }}">
                <input type="submit" value="Delete">
            </form>
        {% else %}
            Nothing in here yet. Start by adding some materials.
        {% endfor %}
    </div>

{% else %}
    Nothing in here, yet! Start by adding some delivery locations.
{% endfor %}

{% endblock %}