<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" layout-content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}
</head>

<body>

    <div class="layout-header">
        <h2 class="layout-h2">{{ _("title") }}</h2>
        <p class="layout-p">{{ _("title_subtext") }}</p>
    </div>

    <div id="layout-navbar">
        <div>
            <a href="{{ url_for('main.listing_bp.index') }}">{{ _("home") }}</a>
            <a href="{{ url_for('main.listing_bp.listings') }}">{{ _("listings") }}</a>
            <a href="{{ url_for('main.location_bp.distance') }}">{{ _("distance") }}</a>
        </div>
        {% if session.user_id %}
        <div class="layout-navbar-right">
            {% if session.contractor_id%}
            <a href="{{ url_for('main.contractor_bp.contractor') }}">{{ _("my_logistics") }}</a>
            {% else %}
            <a href="{{ url_for('main.contractor_bp.addlogistics') }}">{{ _("add_logistics") }}</a>
            {% endif %}
            <a href="{{ url_for('main.user_bp.logout') }}">{{ _("logout") }}</a>
        </div>

        {% else %}
        <div class="layout-navbar-right">
            <a href="{{ url_for('main.user_bp.login') }}">{{ _("login") }}</a>
        </div>
        {% endif %}
    </div>

    <div class="layout-content">
        {% block content %}{% endblock %}
    </div>

    <div class="layout-footer">
        <p>{{ _("footer_contact") }}: info@example.com</p>
        <p>{{ _("footer_last_updated") }}: {{ config.BUILD_DATE }}</p>
    </div>

    <script>
        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("layout-navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("layout-sticky")
            } else {
                navbar.classList.remove("layout-sticky");
            }
        }
    </script>

</body>

</html>