<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta name="viewport" layout-content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="layout-header">
        <h2 class="layout-h2">MTK - OhTu project</h2>
        <p class="layout-p">Circular economy and logistics</p>
    </div>

    <div id="layout-navbar">
        <div>
            <a href="/">Home</a>
            <a href="/listings">Listings</a>
            <a href="/distance">Distance</a>
        </div>
        {% if session.user_id %}
        <div class="layout-navbar-right">
            {% if session.contractor_id%}
            <a href="/contractor">MyLogistics</a>
            {% else %}
            <a href="/addlogistics">Add Logistics Service</a>
            {% endif %}
            <a href="/logout">logout</a>
        </div>

        {% else %}
        <div class="layout-navbar-right">
            <a href="/login">Login</a>
        </div>
        {% endif %}
    </div>

    <div class="layout-content">
        {% block content %}{% endblock %}
    </div>

    <div class="layout-footer">
        <p>Contact us: info@example.com</p>
        <p>Last updated: {{ config.BUILD_DATE }}</p>
    </div>

    <script>
        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("layout-navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("layout-sticky")
            } else {
                navbar.classList.remove("layout-sticky");
            }
        }
    </script>

</body>

</html>