{% extends "layout.html" %}

{% block content %}
<div>
    <form action="{{ url_for('main.listing_bp.listings') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>		
        <p>
            {{ _("destination_address") }}: <br>
            <input type="text" name="address" minlength="1" maxlength="200">
            <input type="submit" value="{{ _('calculate_distance') }}">
        </p>

        <!-- <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> -->
    </form>
</div>



{% for listing in listings %}

<div class="card">
    <h2><a href="{{ url_for('main.listing_bp.listing', listing_id=listing.id, product_page=1) }}">{{ _(listing.category.value) }}</a></h2>
    <h2><a href="{{ url_for('main.listing_bp.listing', listing_id=listing.id, product_page=2) }}">TEST: {{ _(listing.category.value) }}</a></h2>
    <p>{{ _("price") }}: {{ listing.price }} €</p>
    <p>{{ listing.address }}</p>
    <p>{{ _("distance") }}: {{ distances[listing.id]}}</p>
</div>

{% endfor %}

{% endblock %}